<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= htmlWebpackPlugin.options.title%>
    </title>
</head>

<body>
    <div class='container'>
        <img id="laughImg" alt="">
        <h3>You're a fucking white male!</h3>
        <br>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/rfqAkUXKT5Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <br>
        <div id="joke" class="joke"></div>
        <button id="jokeBtn" class="btn">Get a new joke</button>
    </div>
</body>

</html>